.Profile {
  margin: 20px auto;
  display: flex;
}

.Icon {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 2px #fff;
}

.TextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 32px;
}

.TwitterLink {
  color: var(--color-link);
  text-decoration: none;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.7rem;
    background-color: #fff;
    -webkit-mask-image: url(/img/twitter.svg);
    -webkit-mask-size: cover;
    mask-image: url(/img/twitter.svg);
    mask-size: cover;
  }
}
