.Works {
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  justify-content: center;
}

.Heading {
  text-align: center;
  margin: 32px auto 0 auto;
  font-size: 3rem;
}

.Box {
  border: solid 2px #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.PictureContainer {
  position: relative;
  flex: 1;
}

.PictureCrop {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.BoxHeading {
  position: absolute;
  font-size: 2.5rem;
  bottom: -10%;
  left: 5%;
  text-shadow: 2px 0 5px black;
}

.TextContainer {
  flex: 1;
  padding: 24px;
}

.TextContainer > * {
  margin: 16px 0;
}

.List {
  list-style-position: inside;
}

.Link {
  width: 80%;
  color: var(--color-link);
  border: solid 1px var(--color-link);
  padding: 4px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  margin: 12px auto;
  text-align: center;
  transition: 0.4s;
}

.Link:hover {
  background-color: var(--color-link);
  color: white;
}
