.Header {
  background-color: var(--color-dark);
  height: 50px;
  display: flex;
  align-items: center;
}

.TitleText {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-size: 1.2rem;
}
