.Container {
  max-width: 1250px;
  margin: 0 auto;
}

.Text {
  text-align: center;
  margin-bottom: 24px;
}

.Table {
  margin: 0 auto;
  max-width: 90%;
  border-collapse: collapse;

  & th, td {
    border: solid 1px var(--color-text);
    padding: 8px;
  }

  & tbody tr:hover {
    background-color: var(--color-info);
    color: var(--color-text-inverse);
    cursor: pointer;
  }
}
